includes:
    - phpstan.neon

parameters:
    level: 8

    # Hardener-specific: stricter rules
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    treatPhpDocTypesAsCertain: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    reportUnmatchedIgnoredErrors: true